@font-face {
    src: url(../fonts/NeueHaasUnica-Regular.woff);
    font-family: 'Neue Haas Unica';
}

html, body {
    width: 100vw;
}


body {
    font-family: 'Neue Haas Unica', sans-serif;
    font-size: .85rem;
    line-height: 1.125;
    background-color: #f1f1f1;
    color: #313131;
    padding: .5rem;

    h1 {
        font-size: 1rem;
        letter-spacing: -0.15;
    }
    h2 {
        font-size: 1rem;
        letter-spacing: -0.15;
    }
    .sml {
        font-size: .85rem;
        margin-right: 2rem;
    }

    .container1 {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        #draggable1, #draggable2, #draggable3 {
            position: absolute;
    
            img {
                width: 20vw;
            }
            p {
                text-align: center;
                margin-top: -2vw;
                text-transform: uppercase;
                letter-spacing: 0.15;
            }
    
            #draggableheader:hover {
                transform: scale(1.15);
                transition: .35s;
            }
        }
    }
}

.margin-bottom {
    margin-bottom: 2rem;
}