@font-face {
    src: url(../fonts/NeueHaasUnica-Regular.woff);
    font-family: 'Neue Haas Unica';
}

html, body {
    width: 100vw;
}


body {
    font-family: 'Neue Haas Unica', sans-serif;
    font-size: .75rem;
    letter-spacing: 0.125;
    background-color: #f1f1f1;
    color: #313131;
    padding: .75rem;

    h1 {
        font-size: 1rem;
        letter-spacing: 0.05;
    }

    #draggable {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;

        img {
            width: 20vw;
        }
        p {
            text-align: center;
            margin-top: -1vw;
            text-transform: uppercase;
        }
    }
}

.margin-bottom {
    margin-bottom: 2rem;
}